body{
    background-color: rgb(11, 43, 3);
}
#a{
    width: 50%;
    color: rgb(163, 163, 2);
    align-content: center;
    left: auto;
}
#b{
    width: 50%;
    color:white;
    left: auto;
}

#c{
    width:50%;
    background-color: aliceblue;
    text-colo

}
